<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Urban Skateshop</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <ion-item routerLink="/folder/inicio">🏠 Inicio</ion-item>
      <ion-item routerLink="/folder/productos">🛍 Productos</ion-item>
      <ion-item routerLink="/folder/carrito">🛒 Carrito</ion-item>
      <ion-item routerLink="/folder/cuenta">👤 Cuenta</ion-item>
      <ion-item routerLink="/folder/configuracion">⚙️ Configuración</ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
